
@media screen and (max-width: 52.5em) {

  /*Schedule Styles*/

  .top-fq {
  	margin-top: 20px !important;
  }

  .schedule-list .top-faq-txt {
  	margin-top: 10px;
  }

  .schedule-list .inner-faq-txt {
  	margin-top: 0px;
  }

  .schedule-list .bottom-faq-txt {
  	margin-top: 0px;
  	margin-bottom: 25px;
  }

  .schedule-list .last-faq-txt {
  	margin-top: 0px;
  	margin-bottom: 40px;
  }

  .ch-titles {
  	margin-top: 25px !important;
  	padding-left: 30px !important;
  }

  .last {
  	bottom: 6%;
  }

  /*Footer Styles*/

  #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .foot {
    height: auto;
    padding: 10px;
  }

  .cloud1 {
    display: none;
  }

  .cloud2 {
    display: none;
  }

  .linkout {
    display: block;
    text-align: center;
    width: 100%;
  }

  .linkout a {
    font-family: 'Montserrat', serif;
    color: #48ABE0;
    font-size: 1.2em;
    font-weight: lighter;
    line-height: 28px;
    transition: 0.3s;

  }

  .linkout {
    text-align: center;
    padding: 8px;

  }

  .linkcontainer {
  	height: 100%;
  	display: block;
  }

  .fs-radio-group {
    margin-left: -15px !important;
    column-count: 2;
  }

  .foot {
    height: auto;
  }

  .fs-radio-group {
    margin-left: -15px !important;
    column-count: 2;
  }


}
