
@media screen and (max-width: 52.5em) {
  /*book*/
  .book {
    position: relative;
    margin: 0 auto;
    width: 14em;
    height: 22em;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .bookshelf figure {
    position: relative;
    display: inline-block;
    max-width: 75%;
    width: auto;
    vertical-align: top;
  }

  /*form*/
  [type="radio"]:checked + label, [type="radio"]:not(:checked) + label {
    font-size: .8em;
    font-family: 'Poppins', sans-serif !important;
    position: relative;
    padding-left: 14px;
    cursor: pointer;
    line-height: 1.25em;
    display: inline-block;
    color: #666;
  }

  [type="radio"]:checked + label:after, [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #48ABE0;
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  [type="radio"]:checked + label:before, [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 9px;
    height: 9px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
  }

  /*navigation*/
  .bb-custom-wrapper > nav {
    width: 100%;
    height: 20px;
    margin: 1em auto 0;
    position: relative;
    bottom: 40px;
    z-index: 1000;
    text-align: center;
    opacity: .3;
}

  .bb-custom-wrapper > nav a {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 1px;
    background: #1baede;
    color: #fff;
    font-size: 0;
    margin: 1px;
    text-decoration: none;
    outline: none;
  }

  .bb-custom-icon:before {
    font-family: 'arrows';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 15px;
    line-height: 20px;
    display: block;
    -webkit-font-smoothing: antialiased;
  }

  /*Schedule Styles*/

  .top-fq {
  	margin-top: 20px !important;
  }

  .schedule-list .top-faq-txt {
  	margin-top: 10px;
  }

  .schedule-list .inner-faq-txt {
  	margin-top: 0px;
  }

  .schedule-list .bottom-faq-txt {
  	margin-top: 0px;
  	margin-bottom: 25px;
  }

  .schedule-list .last-faq-txt {
  	margin-top: 0px;
  	margin-bottom: 40px;
  }

  .ch-titles {
  	margin-top: 25px !important;
  	padding-left: 30px !important;
  }

  .last {
  	bottom: 6%;
  }

  /*Footer Styles*/

  #footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .foot {
    height: auto;
    padding: 10px;
  }

  .cloud1 {
    display: none;
  }

  .cloud2 {
    display: none;
  }

  .footlink {
    text-align: center;
    padding-left: 0; /* 25/16 */
    padding-right: 0; /* 25/16 */
  }

  .linkout {
    display: block;
    text-align: center;
    width: 100%;
  }

  .linkout a {
    font-family: 'Montserrat', serif;
    color: #48ABE0;
    font-size: 1.1em;
    font-weight: lighter;
    line-height: 28px;
    transition: 0.3s;

  }

  .linkout {
    text-align: center;
    padding: 8px;

  }

  .linkcontainer {
  	height: 100%;
  }

  .fs-radio-group {
    margin-left: -15px !important;
    column-count: 2;
  }

  .foot {
    height: auto;
  }

  .fs-message-error {
  	margin-left: 0% !important;
  }

  .fs-form-full {
  	margin-left: 47px !important;
  }

  .custom-dropdown select {
    background: #48ABE0;
    border-radius: .2em;
    color: #fff;
    font-size: 0.8em;
    font-family: 'Poppins', sans-serif !important;
    padding: .5em;
    padding-right: 2.5em;
    border: 0;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: ellipsis;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }

  #dropdown-wrapper {
  	height: 100px;
  }

  .sm-sp {
    max-width: 180px;
    width: 180px;
  }

  .big-sp {
  	width: 500px;
  }
  
  .inner-row a {
    display: block;
  }

  #fbimg {
    margin-bottom: 5px;
  }

  #microsoftimg {
  	margin-left: 0px;
    margin-top: 20px;
  }

  .inner-row {
  	padding-top: 0px;
  	padding-bottom: 20px;
  }

  #stickermulelogo {
  	margin-top: 5px;
  }

  .sp-logo {

  }

}
