
/* === Copyright Swamphacks 2017 === */

body {
  width: 100%;
  height: 100%;

}

html {
  width: 100%;
  height: 100%;
}

@font-face {
    font-family: "Quicksand";
    src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Didact Gothic";
    src: url(../fonts/DidactGothic-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/Montserrat-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url(../fonts/Montserrat-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src: url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

::selection {
  background: rgba(128,201,149,0.7); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: rgba(128,201,149,0.7); /* Gecko Browsers */
}

@-webkit-keyframes autofill {
    to {
        color: inherit;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

#pagetwo {
  background: green;
  height: 100%;
  width: 100%;
}

#credit {
  display: block;
  text-align: center;
  font-family: 'Montserrat', serif;
  color: white;
  width: 100%;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 20px;
}

.container .row .mentor {
  display: none;
}

.container .row .sponsor {
  display: none;
}

#mainWindow {
  height: 100%;
  width: 100%;
  /*background: url("../img/ufclock.jpg") no-repeat center;*/
}

#boxes {
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: 0;
  background: rgba(255, 255, 255, 0.3);
  padding-left: 20px;
  padding-right: 20px;
}

#logo {
  transition: 0.3s;
  display: inline-block;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

#logoteam {
  height: 85.5px;
  width: 180px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

a .circlebtn {
  font-size: 28px;
  color: #48ABE0;
}

.smallcon {
  width: 100%;
}

.circlebtn {
  width: 50px;
  height: 50px;
  border-radius: 1000px;
  border-width: 4px;
  border-style: solid;
  border-color: white;
  background: white;
  color: blue;
  text-align: center;
  transition: 0.3s;
}

.circlebtn:hover,
.circlebtn:focus {
  border-width: 4px;
  border-style: solid;
  border-color: #48ABE0;
  background: transparent;
}

.foot {
  height: 80px;
}

.linkout {
  display: inline-block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;

}

.orsec {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 18px;
  color: white;
  text-align: center;
  margin-top: 40px;
}

.linkout a {
  font-family: 'Montserrat', serif;
  color: #48ABE0;
  font-size: 18px;
  font-weight: lighter;
  line-height: 28px;
  transition: 0.3s;
}

.linkout a:hover,
.linkout a:focus {
  color: #94C6EB;
  text-decoration: none;

}

#logobottom {
  height: 114px;
  width: 240px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;

}

#imageouter {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.minirow {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.linkfoot {
  height: 80px;


}

.right {
  padding: 30px;
  text-align: center;

}

.blockouter {
  height: 250px;
  padding: 10px;
  width: 260px;
  display: table;
  margin: 0 auto;
  border-radius: 6px;
}

.blockscontainer {
  width: 100%;
}

.blockinner {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 6px;
}

.b1 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #EF4A5A;
  /*box-shadow: 0px 0px 35px #F6968F;*/
}

.b2 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #48ABE0;
}

.b3 {
  border-top-width: 12px;
  border-top-style: solid;
  border-top-color: #80C995;
}

.boxheader {
  margin-left: 20px;
  font-size: 24px;
  font-family: 'Montserrat', serif;
}

.boxdescription {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  font-size: 14px;
  color: #58595B;
}

.boxbtn {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: white;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  height: 40px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 34px;
  bottom: 0;
  position: absolute;
}

.redbtn {
  border-color: #EF4A5A;
  color: #EF4A5A;
}

.bluebtn {
  border-color: #48ABE0;
  color: #48ABE0;
}

.greenbtn {
  border-color: #80C995;
  color: #80C995;
}

.redtxt {
  color: #EF4A5A;
}

.redtxt > a {
  color: #EF4A5A;
}

.bluetxt {
  color: #48ABE0;
}

.bluetxt > a {
  color: #48ABE0;
}

.greentxt {
  color: #80C995;
}

.greentxt > a {
  color: #80C995;
}

/* Simple Buttons */

.simplebtn {
  background-color: transparent;
  font-family: 'Montserrat', serif;
  display: inline-block;
  margin-left: 20px;
  margin-top: 10px;
}

.simplebtn > a {
  cursor: pointer;
  text-decoration: none;
  position: relative;

}

.simplebtn > a:hover, .simplebtn > a:focus {
  transition: .5s;
  color: #1A2930;
  text-decoration: none;
}

.simplebtnred > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: -4px;
  left: 0;
  background-color: #EF4A5A;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtnblue > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: -4px;
  left: 0;
  background-color: #48ABE0;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtngreen > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8px;
  bottom: -4px;
  left: 0;
  background-color: #80C995;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.simplebtn > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* End Simple Buttons */

#mainheader {
  font-size: 60px;
  font-family: 'Montserrat-Medium', serif;
  color: white;
  transition: 0.3s;
}

#headercaption {
  font-size: 26px;
  font-family: 'Montserrat', serif;
  color: white;
  transition: 0.3s;
}


@media screen and (min-width: 1000px) {
  #boxes .row {

  }
  .simplebtn {
    font-size: 16px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 1000px) {



}

@media screen and (min-width: 600px) {

  #logo {
    height: 114px;
    width: 240px;
    display: inline-block;
    margin-top: 6%;

  }

}

@media screen and (max-width: 780px) {

  #footer {
    bottom: -70px;
    left: 0;
    right: 0;

  }

}

@media screen and (min-width: 780px) {

  #footer {
    bottom: 0;
    left: 0;
    right: 0;

  }

}

@media screen and (max-width: 600px) {
  #mainheader {
    font-size: 36px;
    font-family: 'Montserrat-Medium', serif;
    color: white;
  }

  #logo {
    height: 85.5px;
    width: 180px;
    display: inline-block;
    margin-top: 4%;

  }


    #headercaption {
      font-size: 20px;
      font-family: 'Montserrat', serif;
      color: white;
      padding-left: 15px;
      padding-right: 15px;
    }

}

@media screen and (max-width: 780px) {

  .simplebtn {
    font-size: 16px;
    margin-top: 40px;
  }

  .linkout a {

  }

  .linkout {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .linkcontainer {
    margin-bottom: 60px;
  }

  .yugetxt {
    margin-left: -160px;
    margin-top: -40px;
    margin-right: -160px;
  }

  .yugetxtred {
    margin-left: -160px;
    margin-top: -40px;
    margin-right: -160px;
  }

  .panel-content p {
    margin-left: -150px;
    margin-right: -150px;
  }

  #mainWindow {
    height: 100%;
  }

  #home {
    height: 100%;
  }

  .fa-desktop {
    margin-left: 4px;
    margin-right: 4px;
  }

  #boxes {
    height: auto;
    width: 100%;
    position: relative;
    background: #F1F1F1;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  .b2 {
    box-shadow: 0 0 26px 0 rgba(70,171,224,0.4);
  }

  .b3 {
    box-shadow: 0 0 26px 0 rgba(128,201,149,0.5);
  }

  .b1 {
    box-shadow: 0 0 26px 0 rgba(249,182,174,0.5);
  }

}

@media screen and (max-width: 780px) {

  #boxes .row .top {
    margin: 0 auto;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
  }

  #boxes .row .bottom {
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
    width: 90%;
    margin-top: 30px;

  }

}

/* BOUNCING ARROW */

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
body {
  background: black;
}

.arrow {
  position: absolute;
  bottom: 5%;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNi4wLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iNTEycHgiIGhlaWdodD0iNTEycHgiIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA1MTIgNTEyIiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0yOTMuNzUxLDQ1NS44NjhjLTIwLjE4MSwyMC4xNzktNTMuMTY1LDE5LjkxMy03My42NzMtMC41OTVsMCwwYy0yMC41MDgtMjAuNTA4LTIwLjc3My01My40OTMtMC41OTQtNzMuNjcyICBsMTg5Ljk5OS0xOTBjMjAuMTc4LTIwLjE3OCw1My4xNjQtMTkuOTEzLDczLjY3MiwwLjU5NWwwLDBjMjAuNTA4LDIwLjUwOSwyMC43NzIsNTMuNDkyLDAuNTk1LDczLjY3MUwyOTMuNzUxLDQ1NS44Njh6Ii8+DQo8cGF0aCBmaWxsPSIjRkZGRkZGIiBkPSJNMjIwLjI0OSw0NTUuODY4YzIwLjE4LDIwLjE3OSw1My4xNjQsMTkuOTEzLDczLjY3Mi0wLjU5NWwwLDBjMjAuNTA5LTIwLjUwOCwyMC43NzQtNTMuNDkzLDAuNTk2LTczLjY3MiAgbC0xOTAtMTkwYy0yMC4xNzgtMjAuMTc4LTUzLjE2NC0xOS45MTMtNzMuNjcxLDAuNTk1bDAsMGMtMjAuNTA4LDIwLjUwOS0yMC43NzIsNTMuNDkyLTAuNTk1LDczLjY3MUwyMjAuMjQ5LDQ1NS44Njh6Ii8+DQo8L3N2Zz4=);
  background-size: contain;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

#footer .footover {
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.9;

}


@media screen and (min-width: 780px) {

  .linkcontainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

  }

}

#footer {
  height: 80px;
  background: white;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;

}

#smallboxes {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px;

}

#buttons-section .linkcontainer {
  border-radius: 6px;
  background: red;
  padding: 20px;
}

#buttons-section {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;


}

.roundedbox {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 80px;
  margin: 10px;
  background: white;
}

.person {
  height: 160px;
  width: 160px;
  border-radius: 10px;
  margin-bottom: 35px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -ms-user-select: none;
}

.teamcon .col-md-4 {
  margin: 0;
  padding: 0;
}

.teamcon {
  transition: 0.3s;
}

.image-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 300px;
}

.backtxt:hover,
.backtxt:focus {
  text-decoration: none;
  color: #93C886;
}

.lower-block {
  margin-top: -20px;
  background: white;
  height: 160px;
}

.person-name {
  width: 100%;
  font-size: 26px;
  text-align: center;
  position: absolute;
  top: 210px;
  font-family: 'Quicksand', sans-serif;
  color: white;
}

.person-title {
  padding-top: 40px;
  font-size: 20px;
  font-family: 'Montserrat', serif;
  width: 100%;
  color: grey;
  text-align: center;
}

.person-descrip {
  font-size: 16px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: 'Didact Gothic', sans-serif;
  width: 100%;
  color: grey;
  text-align: center;
}

.mainteamtitle {
  text-align: center;
  font-family: 'Montserrat', serif;
  width: 100%;
  color: grey;
  padding: 20px;
}

.title-row .col-md-1 {

}

.title-row {
  overflow: hidden;
}

.backbtntop {
  display: flex;
  align-items: left;
  justify-content: left;
  margin-top: 20px;
  margin-left: 20px;
  transition: 0.3s;
}

.bbtn i {
  font-size: 30px;
  color: grey;
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.backtxt {
  font-size: 20px;
  font-family: 'Didact Gothic', sans-serif;
  color: #93C886;
  text-align: center;
  width: 100px;
  margin-left: 5px;
}

@media(max-width: 1000px) {
  .fillerblk {
    display: none;
  }
}

@media(min-width: 1000px) {

  .wrapper-demo {
      display: inline-block;

  }

  .fillerblk {
    display: block;
  }

  .titlecon {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .mainteamtitle {
    font-size: 40px;
    line-height: 50px;
  }

  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
  }

  .firstblk {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
  }

  .lastblk {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }

  .logo-team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: -40px;
  }
}

@media(max-width: 580px) {

  .ortxt {
    display: none;

  }
}

@media(max-width: 1000px) {

  .ortxt {
    display: block;
    margin-top: 100px;

  }

  .moreoptionsmob {
    list-style: none;

  }

  .moreoptionsmob li {
    margin-left: -40px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 260px;
    padding: 10px;
    font-family: 'Montserrat', serif;
    color: #48ABE0;
    font-size: 18px;
    font-weight: lighter;
    background: white;
    border-radius: 6px;

  }

  .options {
    margin-top: 30px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ortxt p {
    display: block;
    text-align: center;
    color: white;

  }

  .titlecon {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .mainteamtitle {
    font-size: 30px;
    line-height: 40px;
  }

  .backbtn {
    display: none;
  }

  .logo-team {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
  }

}

.backbtntop:hover,
.backbtntop:focus {
  opacity: 0.6;
}

.greenrow {
  background: #80C995;
}

.redrow {
  background: #EF4A5A;
}

.bluerow {
  background: #48ABE0;
}

.blueshadow {
  /*box-shadow: 0 0 26px 0 rgba(70,171,224,0.8);*/
}

.greenshadow {
  /*box-shadow: 0 0 26px 0 rgba(203,231,208,0.8);*/
}

.redshadow {
  /*box-shadow: 0 0 26px 0 rgba(249,182,174,0.8);*/
}

.greenblk {
  background: #93C886;
}

.navyblk {
  background: #293D53;
}

.orangeblk {
  background: #F69F85;
}
